{% if 'ntp_server' in group_names %}
server 0.jp.pool.ntp.org iburst
server 1.jp.pool.ntp.org iburst
server 2.jp.pool.ntp.org iburst
server 3.jp.pool.ntp.org iburst

{% else %}
server ntp iburst

{% endif %}
driftfile /var/lib/chrony/drift

rtcsync

allow 10.0.0.0/8
allow 172.16.0.0/12
allow 192.168.0.0/16

logdir /var/log/chrony
